<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Descriptive content">
        <meta name="keywords" content="Milk Description, Dairy Farms">
        <title>Vanakkam</title>
        
    </head>
<body>
    <h1>Hello World</h1>
    <h2>Vanakkam Nanba:</h2>
    <p>Welcome to the world of technology</p>
    <a href="www.youtube.com" target="_blank">Hello daa Youtube uh</a>  
    <p>Lorem ipsum dolor sit ametconsectetur adipisicing elit. Repellendus dolorem in odit reiciendis laborum facilis fuga deserunt quibusdam cupiditate quod consequatur eius, quisquam iure ipsa ullam voluptas. Culpa, repudiandae dolores?</p>
</body>
</html>